<div class="row">
  <div class="col">
    <h1> Users </h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Username</th>
          <th>Role</th>
          <th class="text-right">Edit User</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.ban_time ? '<del>'.html_safe : '' %><%= user.username %><%= user.ban_time ? '</del>'.html_safe : '' %></td>
              <td><%= user.role %></td>
              <td class="text-right"><a href=" <%= edit_admin_user_path(user) %>" class="btn btn-primary"> Edit </a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
